{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-danger">THỐNG KÊ SỐ LƯỢNG ĐẠT-RỚT</h1>

{% if lop %}
<h4 class="text-center text-info">Lớp: {{lop.name}} - Năm học: {{ nam.name }}</h4>
{% endif %}
<br>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <form>
            <div class="form-group">
                <label for="classes">Chọn lớp: </label>
                <select name="lop" class="custom-select" >
                    {% if list_class %}
                    {% for cl in list_class %}
                    <option>[Mã lớp: {{cl.id}} ] - {{ cl.name }} (Năm học: {{ nam.name }})</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <input type="submit" value="Thống kê" class="btn btn-info">

        </form>
        {% if stats1 %}
        <label class="text-danger">Học kỳ 1: </label>
        <canvas id="chart1"></canvas>
        {% endif %}
        {% if stats2 %}
        <label class="text-danger">Học kỳ 2: </label>
        <canvas id="chart2"></canvas>
        {% endif %}
        {% if stats %}
        <label class="text-danger">Cả năm: </label>
        <canvas id="chart"></canvas>
        {% endif %}
    </div>
    <div class="col-md-6 col-xs-12 ">
        <table class="table table-responsive">
            <tr>
                <th>Số thứ tự</th>
                <th>Họ và tên</th>
                <th>ĐTB năm</th>
                <th>Đạt / Rớt</th>
            </tr>
            {% if diem_TB_lop %}
            {% for d in diem_TB_lop %}
            <tr>
                <td>{{ d.stt }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.ca_nam }}</td>
                <td>{{ d.xep_loai }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% if lop %}
<script>
  let labels = ['Số lượng đạt', 'Số lượng rớt']
  info = [], info1 = [], info2 = []
  let colors = []
  let borderColors = []
  let r, g, b;
  {% if stats1 %}
      info1 = [{{stats1.so_luong_dat}}, {{stats1.so_luong_rot}}]
  {% endif %}
  {% if stats2 %}
       info2 = [{{stats2.so_luong_dat}}, {{stats2.so_luong_rot}}]
  {% endif %}
  {% if stats %}
      info = [{{stats.so_luong_dat}}, {{stats.so_luong_rot}}]
  {% endif %}

  {% for s in range(2) %}
    r = Math.random()*255
    g = Math.random()*255
    b = Math.random()*255
    colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
    borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
  {% endfor %}

  window.onload = function() {
    const ctx = document.getElementById('chart').getContext('2d');
    loadChart(ctx, labels, info, 'doughnut', colors, borderColors)
    const ctx1 = document.getElementById('chart1').getContext('2d');
    loadChart(ctx1, labels, info1, 'bar', colors, borderColors)
    const ctx2 = document.getElementById('chart2').getContext('2d');
    loadChart(ctx2, labels, info2, 'bar', colors, borderColors)
  }

function loadChart(ctx, labels, data, type, colors, borderColors) {
    const myChart = new Chart(ctx, {
        type: type,
        data: {
            labels: labels,
            datasets: [{
                label: 'Thống kê số lượng đạt / rớt',
                data: info,
                backgroundColor: colors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
</script>
{% endif %}
{% endblock %}